// Variables
$font-stack: 'Dosis', sans-serif;
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
// THE LOCATION IS BASED OFF BEING IN THE CSS FILE
$bg-img: url('../img/showcase.jpg');
